div.container {
  width: 840px;
}

.grid-1 {
  width: 35px;
}

.grid-2 {
  width: 70px;
}

.grid-3 {
  width: 105px;
}

.grid-4 {
  width: 140px;
}

.grid-5 {
  width: 175px;
}

.grid-6 {
  width: 210px;
}

.grid-7 {
  width: 245px;
}

.grid-8 {
  width: 280px;
}

.grid-9 {
  width: 315px;
}

.grid-10 {
  width: 350px;
}

.grid-11 {
  width: 385px;
}

.grid-12 {
  width: 420px;
}

.grid-13 {
  width: 455px;
}

.grid-14 {
  width: 490px;
}

.grid-15 {
  width: 525px;
}

.grid-16 {
  width: 560px;
}

.grid-17 {
  width: 595px;
}

.grid-18 {
  width: 630px;
}

.grid-19 {
  width: 665px;
}

.grid-20 {
  width: 700px;
}

.grid-21 {
  width: 735px;
}

.grid-22 {
  width: 770px;
}

.grid-23 {
  width: 805px;
}

.grid-24 {
  width: 840px;
}
