div.container {
  width: 972px;
}

.grid-1 {
  width: 81px;
}

.grid-2 {
  width: 162px;
}

.grid-3 {
  width: 243px;
}

.grid-4 {
  width: 324px;
}

.grid-5 {
  width: 405px;
}

.grid-6 {
  width: 486px;
}

.grid-7 {
  width: 567px;
}

.grid-8 {
  width: 648px;
}

.grid-9 {
  width: 729px;
}

.grid-10 {
  width: 810px;
}

.grid-11 {
  width: 891px;
}

.grid-12 {
  width: 972px;
}
